<html>
            <head>
                <title> <%= title %> </title>
                <link rel = "stylesheet" href = "/style.css">
            </head>
            <body>
                <h2> Contact Us </h2>
                <p> <%= message %> </p>
            </body>
        </html>